<div
  class="p-6 h-full rounded-xl shadow-2xl hover:shadow-primary/20 transition-shadow duration-300 max-w-sm w-full mx-auto relative group"
>
  <!-- Header con HP y tipo -->
  <div class="flex items-center justify-between mb-4">
    <div class="text-black px-3 py-1 rounded-full font-bold text-sm">
      HP {{ card().hp || "??" }}
    </div>
    @if (card().types?.length) {
    <div class="flex gap-2">
      @for (type of card().types; track type) {
      <span
        class="bg-type-{{
          type.toLowerCase()
        }} text-black px-3 py-1 rounded-full text-xs font-bold capitalize"
      >
        {{ type }}
      </span>
      }
    </div>
    }
  </div>

  <!-- Imagen del Pokémon -->
  <div
    class="relative mb-6 group-hover:scale-[1.02] transition-transform duration-200"
  >
    <img
      [src]="card().images?.small || 'assets/pokemon-default.png'"
      [alt]="'Ilustración de ' + (card().name || 'Pokémon')"
      class="w-full h-full object-contain drop-shadow-pokemon"
    />
  </div>

  <!-- Nombre y detalles principales -->
  <div class="text-center mb-6">
    <h2 class="font-bold text-3xl text-gray-800 mb-2">{{ card().name }}</h2>
    @if (card().evolvesFrom) {
    <p class="text-sm text-gray-500">
      Evolves from:
      <span class="font-semibold text-gray-700">{{ card().evolvesFrom }}</span>
    </p>
    } @else {
    <p class="text-sm text-gray-500">No evolution</p>
    }
  </div>

  <!-- Detalles del set -->
  <div class="border-t border-gray-200 pt-4">
    <h3 class="text-lg font-bold text-gray-800 mb-3">Set details</h3>
    <div class="grid grid-cols-2 gap-4 text-sm">
      <div>
        <p class="text-gray-600">Set:</p>
        <p class="font-medium">{{ card().set?.name || "Unkown" }}</p>
      </div>
      <div>
        <p class="text-gray-600">Edition:</p>
        <p class="font-medium">{{ card().set?.series || "Unkown" }}</p>
      </div>
      <div>
        <p class="text-gray-600">Nº:</p>
        <p class="font-medium">
          {{ card().set?.printedTotal }}/{{ card().set?.total }}
        </p>
      </div>
      <div>
        <p class="text-gray-600">Release:</p>
        <p class="font-medium">
          {{ releaseDate() }}
        </p>
      </div>
    </div>
  </div>

  <!-- Información adicional -->
  <div class="mt-4 pt-4 border-t border-gray-200">
    <div class="grid grid-cols-2 gap-4 text-sm">
      <div>
        <p class="text-gray-600">Artist:</p>
        <p class="font-medium">{{ card().artist || "Unknow" }}</p>
      </div>
      <div>
        <p class="text-gray-600">Rarity:</p>
        <p class="font-medium text-purple-600">
          {{ card().rarity || "Common" }}
        </p>
      </div>
    </div>
  </div>
</div>
