@import "tailwindcss";

.app-main-content {
  background-color: #bec79e;
  width: 100%;
  height: 100%;
  max-height: 95%;
}

html,
body {
  height: 100%;
  min-height: fit-content;
  letter-spacing: 0.18em;
}

@font-face {
  font-family: "VT323";
  src: url("assets/fonts/VT323-Regular.woff") format("woff");
  font-weight: normal;
  letter-spacing: 5rem;
  font-style: normal;
}

@theme {
  --color-primary: #bec79e;
  --color-primary-light: #e8ebdc;
  --color-primary-dark: #637040;
  --color-secondary: #a388ed;
  --color-secondary-light: #e0dafa;
  --color-secondary-dark: #834cdb;
  --color-neutral: #1f2937;
  --font-display: "VT323";
  --type-fire: '#F08030',
  --type-water: '#6890F0',
  --type-grass: '#78C850',
}
